Sentiment and Thematic Analysis

In [29]:
import sys
import os
import pandas as pd

project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(project_root)

from Scripts.sentiment_analysis import add_sentiment, aggregate_sentiment
from Scripts.theme_extraction import assign_themes

In [31]:
# 2. Load Cleaned Reviews
df = pd.read_csv("../data/processed/reviews_processed.csv") 
df.head()

,review_id,review_text,rating,review_date,review_year,review_month,bank_code,bank_name,user_name,thumbs_up,text_length,source
0,3463230e-f9f7-4be3-a632-fdd8d017ce84,üôèüëç,5,2025-11-29,2025,11,BOA,Bank of Abyssinia,Yasin Alemu,0,2,Google Play
1,a6cbfa34-f2b1-4a16-96b6-c94f58cea76f,Very Good,5,2025-11-28,2025,11,BOA,Bank of Abyssinia,Wariyo Dida,0,9,Google Play
2,fc67d12c-92e2-45aa-a9e0-011f58a583bc,goof,5,2025-11-28,2025,11,BOA,Bank of Abyssinia,Hailegebrail Tegegn,0,4,Google Play
3,11306fb9-5571-4950-8d32-604c5402242f,good!,5,2025-11-28,2025,11,BOA,Bank of Abyssinia,Tsegay ab,0,5,Google Play
4,809c46d2-730e-446a-9061-2a45e978ad9d,good jop,5,2025-11-27,2025,11,BOA,Bank of Abyssinia,Yohanis Fikadu,0,8,Google Play

In [32]:
# Check the columns
print("Columns:", df.columns)
print("Sample data:")
print(df.head())

Columns: Index(['review_id', 'review_text', 'rating', 'review_date', 'review_year',
       'review_month', 'bank_code', 'bank_name', 'user_name', 'thumbs_up',
       'text_length', 'source'],
      dtype='object')
Sample data:
                              review_id review_text  rating review_date  \
0  3463230e-f9f7-4be3-a632-fdd8d017ce84          üôèüëç       5  2025-11-29
1  a6cbfa34-f2b1-4a16-96b6-c94f58cea76f   Very Good       5  2025-11-28
2  fc67d12c-92e2-45aa-a9e0-011f58a583bc        goof       5  2025-11-28
3  11306fb9-5571-4950-8d32-604c5402242f       good!       5  2025-11-28
4  809c46d2-730e-446a-9061-2a45e978ad9d    good jop       5  2025-11-27

   review_year  review_month bank_code           bank_name  \
0         2025            11       BOA  Bank of Abyssinia
1         2025            11       BOA  Bank of Abyssinia
2         2025            11       BOA  Bank of Abyssinia
3         2025            11       BOA  Bank of Abyssinia
4         2025            11       BOA  Bank of Abyssinia

             user_name  thumbs_up  text_length       source
0          Yasin Alemu          0            2  Google Play
1          Wariyo Dida          0            9  Google Play
2  Hailegebrail Tegegn          0            4  Google Play
3            Tsegay ab          0            5  Google Play
4       Yohanis Fikadu          0            8  Google Play

In [33]:
df = add_sentiment(df, text_col="review_text")
df[["review_text", "sentiment_label", "sentiment_score"]].head()

  review_text sentiment_label  sentiment_score
0          üôèüëç        negative         0.697057
1   Very Good        positive         0.999852
2        goof        negative         0.997528
3       good!        positive         0.999827
4    good jop        positive         0.999841

In [34]:
agg = aggregate_sentiment(df, by=["bank_code", "rating"])

agg.head()

  bank_code  rating  sentiment_score
0       BOA       1         0.975930
1       BOA       2         0.952529
2       BOA       3         0.959284
3       BOA       4         0.939232
4       BOA       5         0.942025

In [35]:
themes = assign_themes(df, text_col="review_text")
themes

c:\Users\h\Desktop\WEEK 2\Web-Scraping\.venv\Lib\site-packages\sklearn\feature_extraction\text.py:402: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ll', 've'] not in stop_words.
  warnings.warn(

{'Other': ['good',
  'app',
  'nice',
  'good app',
  'bank',
  'work',
  'like',
  'bad',
  'great',
  'fast',
  'love',
  'banking',
  'use',
  'boa',
  'update',
  'amazing',
  'application',
  'excellent',
  'wow',
  'nice app']}

In [36]:
df.to_csv("../data/processed/reviews_with_sentiment.csv", index=False)
pd.DataFrame.from_dict(themes, orient='index').to_csv("../data/processed/review_themes.csv")